setuptools==75.8.0
hatchling==1.27.0
torch==2.3.1+cpu
torchaudio==2.3.1+cpu
numpy==1.26.4
transformers==4.51.3
huggingface-hub==0.30.2
loguru==0.7.3
misaki[en,zh]==0.9.4
websockets==15.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
